h1{
font-family:arial;
}

a {
text-decoration:none;
color: white;
}
body
			{
				background-color	: #1C1C1C;
				height				: 100%;
			}
		
td:hover{
	background-color: #C7C4C4;
	color: white;
}
td{
background-color: darkgray;
text-transform: uppercase;
font-family: arial;
font-size: 12px;
}		
#con-holder
			{
				width				: 900px;
				margin-left			: auto;
				margin-right		: auto;
				background-color	: #E6E6E6;
			}
			
ul#css3menu1
			{	list-style: none;
				padding: 1px 0.1% 1px 0%;
				background-image: url("mainbk.png");
				background-repeat: repeat;
				border-width: 0px;
				border-style: solid;
				background-color: #999999;
				border-color: #999999;
				-moz-border-radius: 0px;
				-webkit-border-radius: 0px;
				border-radius: 0px;
				font-size: 0;
				width: 100%;
				z-index: 999;
				position: relative;
				display: inline-block;
				zoom: 1;
			}
ul#css3menu1 li{
	display:block;white-space:nowrap;font-size:0;float:left;}
* html ul#css3menu1 li a{
	display:inline-block;}
ul#css3menu1>li{
	margin:0 0% 0 1%;width:32%;}
ul#css3menu1 li.toplast{
	width:33%;}
body:first-of-type ul#css3menu1{
	display:inline-table;border-spacing:1px 0;}
body:first-of-type ul#css3menu1>li{
	display:table-cell;float:none;}
ul#css3menu1 a:active, ul#css3menu1 a:focus{
	outline-style:none;}
ul#css3menu1 a{
	display:block;vertical-align:middle;text-align:center;text-decoration:none;font:bold 12px Arial;color:#000000;cursor:default;padding:10px;background-color:#b3b3b3;background-image:url("mainbk.png");background-repeat:repeat;background-position:0 200px;border-width:0px;border-style:none;border-color:;}
ul#css3menu1 li:hover>a,ul#css3menu1 li a.pressed{
	background-color:#666666;border-style:none;color:#ffffff;background-image:url("mainbk.png");background-position:0 100px;text-decoration:none;}
ul#css3menu1 li.topfirst>a{
	border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px;-webkit-border-top-right-radius:0;-webkit-border-bottom-right-radius:0;}
ul#css3menu1 li.topfirst:hover>a,ul#css3menu1 li.topfirst a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.topmenu>a{
	}
ul#css3menu1 li.topmenu:hover>a,ul#css3menu1 li.topmenu a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1 li.toplast>a{
	border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0;-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;}
ul#css3menu1 li.toplast:hover>a,ul#css3menu1 li.toplast a.pressed{
	text-shadow:#3d3d3d 0px -1px 1px;}
ul#css3menu1>li:nth-child(1){width:28%}ul#css3menu1>li:nth-child(2){width:29%}ul#css3menu1>li:nth-child(3){width:40%}
@-moz-document url-prefix(){body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media only screen and (max-width:204px),only screen and (max-device-width:204px){
ul#css3menu1>li:nth-child(1){width:48%;margin:0 0% 1px 0.5%;}ul#css3menu1>li:nth-child(2){width:51%;margin:0 0% 1px 0.5%;}ul#css3menu1>li:nth-child(3){width:99%;margin:0 0% 0 1%;}body:first-of-type ul#css3menu1{display:inline-block} body:first-of-type ul#css3menu1>li{display:block;float:left !important;}}
@media only screen and (max-width:119px),only screen and (max-device-width:119px){
ul#css3menu1>li:nth-child(1){width:48%;margin:0 0% 1px 1%;}ul#css3menu1>li:nth-child(2){width:50%;margin:0 0% 1px 1%;}ul#css3menu1>li:nth-child(3){width:99%;margin:0 0% 0 1%;}}


#tfheader{
		background-color: #636363;
		height: 39px;
	}
#tfnewsearchl 
				{
				float: left;
				margin-top: 4px;
				margin-right: 5px;
				}
#tfnewsearch 
				{
				float: right;
				margin-top: 4px;
				margin-right: 5px;
				}
	.tftextinput4{
		margin: 0;
		padding: 6px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#666;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;	
	}
	.tfbutton4 {
		margin: 0;
		padding: 0;
		width:30px;
		height:30px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		font-weight:bold;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #ffffff;
		border: solid 1px #0076a3; border-right:0px;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		background: #505050 url('../img/iconS.png');
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton4::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
	
#acts 
	{
		width	: 80%;
		height 	: 150px;
		margin-left			: auto;
		margin-right		: auto;
		background-color: #999999;
		margin-top: 10px;
	}
#acts img
	{
		margin-left: 10px;
		margin-top: 10px;
		float: left;
	}
#text 
		{
		float: right;
		width: 580px;
		font-family:arial;
		}
#text h1 {	
			font-size: 20px;
			color: white;
		}
#text p {
			text-align:justify;
			width: 500px;
			margin-left: auto;
			margin-right: auto;
		}